.weather-stats-container{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 10px;
}

@media (max-width:767px) {
    .weather-stats-container{
        grid-template-columns: repeat(2,1fr);
    }
}